@import '../variables';
@import '../mixins';

.button {
  .flex(center, center, @type: inline-flex);

  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: .8em 2em;
  transition: all .2s linear;

  &.primary {
    transition: all .2s linear;
    background-color: @var-primary-color;
    &-dark, &:hover {
      background-color: @var-primary-dark-color;
    }
  }

  &.secondary {
    transition: all .2s linear;
    background-color: @var-secondary-color;
    &-dark, &:hover {
      background-color: @var-secondary-dark-color;
    }
  }

  &.error {
    transition: all .2s linear;
    background-color: @var-error-color;
    &-dark, &:hover {
      background-color: @var-error-dark-color;
    }
  }

  &.disabled {
    pointer-events: none;
    background-color: @var-disabled-color;
  }

  &.full-width {
    width: 100%;
  }
}