@import url(../../../variables);

.new-question {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  > textarea {
    font-size: 1.6rem;
    width: 100%;
  }

  &__title {
    font-size: 3.2rem;
    font-weight: 700;
  }

  &__title-area {
    margin-top: 2rem;
  }

  &__body-area {
    margin-top: 2rem;
    height: 30rem;
  }

  &__actions {
    width: 100%;
    margin-top: 2rem;

    display: flex;
    justify-content: space-around;

    > div {
      padding: 1rem 4rem;
    }
  }
}