html {
  font-size: 10px;

  @media (max-width: 1280px) {
    font-size: 8px;
  }

  @media (max-width: 1024px) {
    font-size: 7px;
  }

  @media (max-width: 768px) {

  }
}

html, body, #root {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}